<div style="margin: 10px;" *ngFor="let data of dataNhanVien">
    <div class="content-panel">
        <h5 style="margin-bottom : 0;">Nhân viên</h5>
        <hr width="100%" size="1px" align="center" color="red" />
        <kendo-label>
            <h5>{{ data.Name }}</h5>
        </kendo-label>
        <strong>Mã phòng ban</strong> : {{ data.Code }}
        <br>
        <br>
        <strong>Tên phòng ban</strong> : {{ data.Name }}
        <br>
        <br>
        <strong>Ngày thành lập</strong> : {{ data.CreateDate }}
        <br>
        <br>
        <strong>Mô tả</strong> : {{ data.Description }}
    </div>
</div>
