.container {
    display: flex;
    width: 100%;
}

.contents {
    width: 75%;
}

.panel {
    background-color: white;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 10px;
    width: 23%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    word-wrap: break-word;
}
.container {
    display: flex;
    width: 100%;
}

.contents {
    width: 75%;
}

.panel {
    background-color: white;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 10px;
    width: 23%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    word-wrap: break-word;
}
